
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root
{
    --main-blue:hsl(246,80%,60%);


    --nuetral-very-dark-blue:hsl(226,43%,10%);
    --nuetral-dark-blue:hsl(235,46%,20%);
    --nuetral-desaturated-blue:hsl(235,45%,61%);
    --nuetral-pale-blue:hsl(236,100%,87%);

    --main-font:18px;

    --small-weight:300;
    --medium-weight:400;
    --large-weight:600;

    --phonesize-height:200px;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nuetral-very-dark-blue);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}


.container
{
    display: grid;
    grid-template-columns: 33% 67%;


    width: 800px;
    height: 400px;
}


/* #region Global classes */

.card
{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.background
{
    background-color: var(--main-blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: var(--small-weight);
}

.foreground
{
    display: flex;
    flex-direction: column;
    background-color: var(--nuetral-dark-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.large-font
{
    font-size: 32px;
    color: white;
}


/* #endregion */

/* #region Desktop Media Query */

/* #region Main Card */

.main-card 
{
    position: relative;
    display: flex;

    grid-column: 1;
    grid-row: 1/3;

    padding-left: 1.5rem;
}

.main-card img
{
    height: 80px;
    width: 80px;
    margin-left: 1rem;
    border: 2px solid white;
    border-radius:50% ;
}

.main-card .background
{
    flex: 3;
    display: flex;

}


.main-card p
{
    width: 100%;
    color: var(--nuetral-pale-blue);
    margin-left: 1rem;
    font-size: 12px;
}


.main-card .foreground
{
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
}

.time-btn
{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--main-blue);
    margin-left: 1rem;
}

.active-time
{
    color: white;
    font-weight: var(--large-weight);
}

.time-btn:not(.active-time):hover
{
    color: white;
    font-weight: var(--medium-weight);
}




/* #endregion  */

/* #region Data-cards Grid*/

.data-cards
{
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;

}

.data-card
{
    position: relative;
    width: 30%;
    height: 45%;
}

.data-card .background
{

    position: absolute;
    height: 80%;
    width: 100%;
    z-index: 0;
    background-repeat:no-repeat;
    /* background-position: top right; */
     background-position:  calc(100% - .5rem) top;  
    /* background-size: 110%;  */
}

.data-card .background img
{

}

.data-card .foreground
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 100%;
    z-index: 1;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    visibility: visible;
}



.btn
{
    height: 100%;
    position: relative;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.btn.active
{
    background-color: var(--nuetral-pale-blue);
}

.btn:hover
{
    cursor: pointer;
}

.btn-top-section
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}


.label
{
    color: white;
    font-size: 16px;
    font-weight: var(--large-weight);
}

p
{
    margin: 0;
}

p .dots
{
    display: flex;
    align-items: center;
    color: white;
    font-size: var(--main-font);
    font-weight: 14px;
}



.btn-btm-section
{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}


.current-time
{
    color: white;
    font-size: 26px;
}


.btn-btm-section p:nth-child(2)
{
    padding-top: 10px;
}

.prior-time-label
{
    color: var(--main-blue);
    font-size: 10px;

}
/*#endregion */

/* #endregion */



/* #region Style Container as Grid */




/* #endregion */



/* #region Mobile Media Query */

@media screen and (max-width: 375px) 
{
    body
    {
        /* height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--nuetral-very-dark-blue);
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto; */

        background-color: yellow;
    }





    /* #region Global classes */

    .card
    {
        display: flex;
        flex-direction: column;
        border-radius: 50px;
    }

    /* .background
    {
        background-color: var(--main-blue);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        font-weight: var(--small-weight);
    } */

    /* .foreground
    {
        display: flex;
        flex-direction: column;
        background-color: var(--nuetral-dark-blue);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    } */


    .large-font
    {
        font-size: 16px;
        color: white;
    }


    /* #endregion */

    .container
    {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }

    /* #region Main Card */

    .main-card 
    {
        display: flex;
        width: 90%;
        /* height: var(--phonesize-height); */
    }



    .main-card .background
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-card img
    {
        height: 60px;
        width: 60px;
        border: 2px solid white;
        border-radius:50% ;
    }

    .person-name
    {
        width: 100%;
    }

    .person-name .large-font
    {
        width: 100%;
    }

    .main-card p
    {
        /* height: 60px;
        font-size: 10px; */
    }

    .main-card .large-font
    {
        /* line-break:  none  !important;
        color: palegoldenrod; */
    }




    .main-card .foreground
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .time-btn
    {

        color: var(--main-blue);
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .active-time
    {
        color: white;
        font-weight: var(--large-weight);
    }

    .time-btn:not(.active-time):hover
    {
        color: white;
        font-weight: var(--medium-weight);
    }




    /* #endregion  */



    /* #region Data-cards Grid*/

    .data-cards
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;

    }

    .data-card
    {
        width: 90%;
        height: 100px;
    }

    .data-card .background
    {

        /* position: absolute;
        height: 80%;
        width: 100%;
        z-index: 0;
        background-repeat:no-repeat; */
        /* background-position:  calc(100% - .5rem) top;   */
    }

    .data-card .background img
    {

    }

    .data-card .foreground
    {
        /* position: absolute;
        bottom: 0;
        left: 0;
        height: 80%;
        width: 100%;
        z-index: 1;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        visibility: visible; */
    }



    .btn
    {
        /* height: 100%;
        background-color: inherit;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column; */
    }

    .btn.active
    {
        background-color: var(--nuetral-pale-blue);
    }

    .btn:hover
    {
        cursor: pointer;
    }

    .btn-top-section
    {
        /* flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px; */
    }


    .label
    {
        font-size: 12px;
    }

    p
    {
        margin: 0;
    }

    p .dots
    {
        /* display: flex;
        align-items: center;
        color: white;
        font-size: var(--main-font);
        font-weight: 14px; */
    }



    .btn-btm-section
    {
        /* flex: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px; */
    }


    .current-time
    {
        color: white;
        font-size: 26px;
    }


    .btn-btm-section p:nth-child(2)
    {
        padding-top: 10px;
    }

    .prior-time-label
    {
        color: var(--main-blue);
        font-size: 10px;

    }
    /*#endregion */
}




/* #endregion */
