
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root
{
    --main-blue:hsl(246,80%,60%);


    --nuetral-very-dark-blue:hsl(226,43%,10%);
    --nuetral-dark-blue:hsl(235,46%,20%);
    --nuetral-desaturated-blue:hsl(235,45%,61%);
    --nuetral-pale-blue:hsl(236,100%,87%);

    --main-font:18px;

    --small-weight:300;
    --medium-weight:400;
    --large-weight:600;

    --phonesize-height:200px;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nuetral-very-dark-blue);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}


.container
{
    width: 800px;
    height: 400px;
}


/* #region Global classes */

.card
{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.background
{
    background-color: var(--main-blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: var(--small-weight);
}

.foreground
{
    display: flex;
    flex-direction: column;
    background-color: var(--nuetral-dark-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.large-font
{
    font-size: 32px;
    color: white;
}


/* #endregion */


/* #region Desktop Media Query */


/* #region Data-cards Grid*/

.data-cards
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,fr);
    gap: 10px;
    height: 400px;
}

/* #region Main Card */

.main-card 
{

    grid-row: 1 / span 2;
}

.main-card img
{
    height: 80px;
    width: 80px;
    margin-left: 1rem;
    border: 2px solid white;
    border-radius:50% ;
}

.main-card .background
{
    flex: 3;
    display: flex;
}


.main-card p
{
    width: 100%;
    color: var(--nuetral-pale-blue);
    margin-left: 1rem;
    font-size: 12px;
}


.main-card .foreground
{
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
}

.time-btn
{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--main-blue);
    margin-left: 1rem;
}

.active-time
{
    color: white;
    font-weight: var(--large-weight);
}

.time-btn:not(.active-time):hover
{
    color: white;
    font-weight: var(--medium-weight);
}

/* #endregion  */

.data-card > * 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.card
{
    position: relative;
}

.data-card .background
{
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    z-index: 0;
    background-repeat:no-repeat;
    background-position:  calc(100% - .5rem) top;  
    flex: 1;
}

.data-card .foreground
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 85%;
    width: 100%; 


    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    visibility: visible;
}



.btn
{
    height: 100%;
    /* position: relative; */
    background-color: inherit;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.btn.active
{
    background-color: var(--nuetral-pale-blue);
}

.btn:hover
{
    cursor: pointer;
}

.btn-top-section
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}


.label
{
    color: white;
    font-size: 16px;
    font-weight: var(--large-weight);
}

p
{
    margin: 0;
}

p .dots
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--main-font);
    font-weight: 14px;
}



.btn-btm-section
{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}


.current-time
{
    color: white;
    font-size: 26px;
}


.btn-btm-section p:nth-child(2)
{
    padding-top: 10px;
}

.prior-time-label
{
    color: var(--main-blue);
    font-size: 10px;

}
/*#endregion */

/* #endregion */







/* #region Mobile Media Query */

@media screen and (max-width: 375px) 
{
    .large-font
    {
        font-size: 16px;
    }

    .card
    {
        width: 100%;
        height: 100%;
    }

    .container
    {
        height: 100vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .data-cards
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90%;
        width: 80%;
    }

    /* #region Main Card */

    .main-card .background
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }

    .main-card img
    {
        height: 50px;
        width: 50px;
        margin-left: 2rem;
    }


    .main-card p
    {
        color: var(--nuetral-pale-blue);

        font-size: 12px;
        padding: 20px 0 20px 0;
    }

    .main-card .large-font br
    {
        display: none;
    }


    .main-card .foreground
    {

        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .time-btn
    {
        padding: 20px 0px 20px 0px;
    }


    /* #endregion  */


    .data-card .foreground
    {
        display: flex;
        align-items: center;
    }

    .btn
    {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }

    .btn-top-section
    {
       padding: 0px 10px;
       flex: 1;
    }


    .label
    {
        font-size: 12px;
    }

    p
    {
        margin: 0;
    }

    p .dots
    {
       font-weight: 10px;    
    }



    .btn-btm-section
    {
        flex:1;
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }


    .current-time
    {
        color: white;
        font-size: 16px;
    }


    .btn-btm-section p:nth-child(2)
    {
        padding: 0px;
    }

    .prior-time-label
    {
        font-size: 12px;
    }

}




/* #endregion */
